<?php
// DATABASE
define('PROJECT_DBDRIVER', 'mysql');
define('PROJECT_DBHOST', 'localhost');
define('PROJECT_DBNAME', 'educationaldb');
define('PROJECT_DBUSER', 'xxx');
define('PROJECT_DBPASSWORD', 'xxx');